<h1>
    Votre relevé compte courant.
</h1>
<h2 class="text-center mt-5" > Bonjour {{account.lastName}} {{account.firstName}}</h2>


<div class="d-flex justify-content-between mt-5 shadow-lg p-3 mb-5 bg-body rounded">
    <div>
        <p class="h6 mb-5" >Date du: {{todayWithPipe}}</p>
        <p class="h6">IBAN: {{account.iban}}</p>
    </div>
    <div>
        <p class="h5 text-danger">Solde: {{account.bankBalance}}</p>
    </div>
</div>

<Table class="table table-stripped  mt-5">

    <thead>
        <th scope="col">Date</th>
        <th scope="col">Libellé</th>
        <th scope="col">Montant</th>
    </thead>

    <tbody class="tablersow" *ngFor="let transaction of transactions">
        <tr >
            <td> {{transaction.date}} </td>
            <td> {{transaction.wording}}</td>
            <td> {{transaction.amount}}</td>
        </tr>

    </tbody>

</Table>

<!--
     <div class="d-flex justify-content-between mt-5" >
        <div >
            <h6> Date: {{todayWithPipe}}</h6>
            <h6>Numero compte: {{compte.iban}}</h6>
        </div>
        <div>
            <h5>Solde: {{compte.solde}}</h5>
        </div>
    </div>

<Table class="table table-borderless table-success table-striped mt-5">
    
    <thead class ="" >
        
        <th>Date</th>
        <th>Opération</th>
        <th>Montant</th>
    </thead>
    <tbody class="tablersow">
        <tr *ngFor="let transaction of compte.transactions">
            <td> {{transaction.date}} </td>
            <td> {{transaction.libelle}}</td>
            <td> {{transaction.montant}}</td>
        </tr>

    </tbody>

</Table>
-->