<div *ngIf="account">
    <h1>
        Votre relevé bancaire
    </h1>
    <div class="d-flex justify-content-between mt-5 shadow-lg p-3 mb-5 bg-body rounded">
        <div>
            <p class="h6 mb-5">Date : <span>{{todayWithPipe}}</span></p>
            <p class="h6">IBAN : <span>{{account.iban | iban}}</span></p>
        </div>
        <div>
            <p class="h5 text-danger">Solde: {{ account.bankBalance | currency:'EUR':'€':'3.2-2':'fr' }} </p>
        </div>
    </div>

    <div class=" table-responsive-sm">
        <table class="table">

            <thead class="bg-secondary text-white">
                <th scope="col" class ="text-start">Date</th>
                <th scope="col" class ="text-start">Référence</th>
                <th scope="col" class ="text-start">Libellé</th>
                <th scope="col" class ="text-end">Montant</th>
            </thead>

            <tbody  *ngFor="let transaction of transactions">
                <tr>
                    <td class ="text-start"> {{transaction.date}} </td>
                    <td class ="text-start"> {{transaction.reference}} </td>
                    <td class ="text-start"> {{transaction.wording}} </td>
                    <td class ="text-end"> {{transaction.amount | currency:'EUR':'€':'1.2-2':'fr'}} </td>
                </tr>
            </tbody>

        </table>
    </div>
    
</div>