
<form class="col-6 g-3 row-cols-xl-auto mx-auto mt-5 shadow-lg p-3 mb-5 bg-body rounded">
    <div class="container text-center mt-5">
        <h1> Configuration</h1>
    </div>
    <div class=" row col-md-8 mx-auto ">
        <div class="mb-8 mb-3">
            <label for="exampleInputEmail1" class="form-label">Nom de Banque</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Choisisez votre banque</option>
                <option value="1">Bnp</option>
                <option value="2">LCL</option>
                <option value="3">Banque postale</option>
                <option value="4">Banque populaire</option>
            </select>
        </div>
        <div class="mb-8">
            <label for="iban" class="form-label">Entrer Numéro IBAN</label>
            <input type="" class="form-control" id="iban">
        </div>
        <div class="d-grid gap-2 col-12 col-xl-8 mx-auto mt-5 mb-5">
            <button class="btn btn-success" style="background:#15574e" type="submit">Confirmer</button>
        </div>

    </div>
</form>
