<header class="container-fluid sticky-top">
    <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container-xl">

            <span class="navbar-brand">BanKing</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">


                <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="isAuthenticated === false">
                    <li class="nav-item">
                        <a class="nav-link active"  routerLink="/" routerLinkActive="active">
                            Connexion</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="inscription" routerLinkActive="active">Inscription</a>
                    </li>
                </ul> 
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="isAuthenticated === true">
                    <li class="nav-item" >
                        <a class="nav-link active" routerLink="compte" routerLinkActive="active">
                            Relevé Bancaire</a>
                    </li>
                </ul>
                

                <ul class="navbar-nav d-flex ms-auto">
<!--
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" routerLink="message"
                            routerLinkActive="active">Message</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" routerLink="emprunter"
                            routerLinkActive="active">Emprunter</a>
                    </li>
-->
                    <li class="nav-item">
                        <a class="nav-link" *ngIf="isAuthenticated === true && isProfile ===false"  aria-current="page" routerLink="profilCreate"
                            routerLinkActive="active">Créer profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" *ngIf="isAuthenticated === true" aria-current="page" routerLink="profil" routerLinkActive="active">Mon profil</a>
                    </li>
                     
                        <li class="nav-item" *ngIf="isAuthenticated === true">
                            <a (click)="logOut()" class="nav-link clickable" >Deconnexion</a>
                        </li>
                   


                </ul>
            </div>
        </div>

    </nav>
</header>